<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#"><img src="./images/arrow-up.svg" /></a>
        </p>
        <p class="mb-1">Meghalaya Sunday Teer Copyright &copy; 2016 All rights reserved.</p>

    </div>
</footer>
<script src="bootstrap.bundle.min.js"></script>
</body>

</html>