<%- include("./partials/header") %>

    <main>

        <section class="py-5 text-center container">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-template">
                            <img src="./images/404page.png" class="img-fluid" alt="...">
                            <div class="error-details">
                                Sorry, an error has occured, Requested page not found!
                            </div>
                            <a href="/" class="btn btn-link">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>








    </main>

<%- include("./partials/footer") %>