<%- include("../partials/header") %>
<main>
   
  <section class="py-5 text-center container">
    
    <img src="./images/resultsbanner.jpg" class="img-fluid" alt="...">
    <div class="p-4"></div>
    </section>

    <main class="grid">
      <article>
          <a href="./previousmorningteerresult?page=1&limit=30">
        <img src="images/morningresultnew.jpg" alt="Sample photo" >
      </a>
    </article>
    <article>
      <a href="./previousnoonteerresult?page=1&limit=30">
    <img src="images/afternoonresults.jpg" alt="Sample photo" >
  </a>
</article>
<article>
  <a href="./previouseveningteerresult?page=1&limit=30">
<img src="images/eveningresultnew.jpg" alt="Sample photo" >
</a>
</article>
    </main>
              

            
        
      
   
  </section>

  
</main>

    <%- include("../partials/footer") %>