<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Meghalaya Sunday Teer</title>

    <link rel="icon" href="../../../images/favicon.png" type="image/gif" sizes="16x16">
    <link href="../../../bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About Meghalaya Sunday Teer</h4>
                        <p class="text-muted">Meghalaya Sunday Teer , a curious phenomenon that blends archery and the
                            interpretation of dreams. 4:00 arrives and the archers begin to fire arrows. They are
                            absolute machines and incredibly accurate.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact us</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Like us on Facebook</a></li>

                            <li><a href="#" class="text-white">Email us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="../../../images/teerlogo.png" class="nav-brand" width="85px" height="60px"
                        alt="Assam Teer">
                    <strong class="nav-brand align-items-center">Meghalaya Sunday Teer</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <section class="py-5 col-md-3  container">
        <div class="row no-gutters">
    <form action="/resultround1" method="POST">
        <label for="rating">Enter Time [3.55 PM]</label>
        <input type="text" name="resultround1[time]" class="form-control mb-2 " id="" 
            placeholder="Enter Time for Round 1">
            <label for="rating">Enter Data for Round 1 [XX]</label>
        <input type="text" name="resultround1[result]" class="form-control" id="" 
            placeholder="Enter Data for Round 1">
       



        <div class="form-group mt-3">
            <button class="login-button btn btn-dark">Submit Round 1 Data</button>
        </div>
    </form>
</div>
</section>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
               
            </p>
            <p class="mb-1">Meghalaya Sunday Teer Copyright &copy; 2016 All rights reserved.</p>

        </div>
    </footer>
    <script src="../../../bootstrap.bundle.min.js"></script>
</body>

</html>